.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu";
    -fx-accent: #E95420;
    -fx-focus-color: #E95420;
    /* -fx-faint-focus-color: red; */
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

#tab-pane-main .tab-header-area .tab{
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10 10 0 0;
}

#tab-pane-main{
    -fx-tab-min-width:125px;
    -fx-background-insets: 5px;
    -fx-border-width: 5px;
}

#tab-pane-main .tab {
    -fx-background-color: #E2E0DD;
}

#tab-pane-main .tab:selected{
    -fx-background-color: #3c3c3c;    
}

#tab-pane-main .tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0, 10 10 0 0; /* only affected for border-width > 0 */
    -fx-border-width:0px;
}

#tab-pane-main .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #333333;
}

#tab-pane-lu .tab {
    /* -fx-background-color: #E2E0DD; */
    -fx-background-color: #333333; 
    -fx-background-insets: 0 1 1 1,0,0;
}

#tab-pane-lu .tab .label{
	-fx-text-fill: white;
}

#tab-pane-lu{
    -fx-background-color: #333333;
}

#lu-linkage-button{
	-fx-background-color: #3e3e3e;
	-fx-text-fill:white;
	-fx-border-width:1px;
	-fx-border-color:#AEA79F;
	-fx-border-radius: 5 5 5 5;
}

#toggleSwitch:selected .thumb-area{
	-fx-background-color: #E95420;
}

#toolbar-lu{
	-fx-background-color: linear-gradient(to bottom, #333333, #3e3e3e); 
}

#inner-tab-toolbar{
	-fx-background-color: linear-gradient(to bottom, #777777, #444444);
}

#inner-toolbar-separator *.line{
	-fx-border-color: transparent;
}

#normal-button{
	-fx-background-color: #F5F5F5;
	-fx-font-size: 10pt;
}

#normal-button:hover{
    -fx-background-color: -fx-focus-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#normal-button:pressed {
	-fx-text-fill: white;
}

#inner-tab-right-toolbar{
	-fx-background-color: #DCDCDC;
}


#toolbar-data{
	-fx-background-color: linear-gradient(to bottom, #555555, #333333); 
}

#menu-bar{
	-fx-background-color: linear-gradient(to bottom, #666666, #444444); 
}

#menu-bar .label{
	-fx-text-fill: white;
}

#menu-bar .menu:showing .label {
	/* Styles the text on a menu item when activated */
	-fx-text-fill: black;
}

#tab-pane-lu .tab:hover{
	-fx-background-color: #E95420;
}

#tab-pane-lu .tab:hover:selected .label {
	-fx-text-fill: white;
}

#tab-pane-lu .tab:selected .label{
	/* -fx-font-weight: bold; */
    -fx-text-fill:#E95420;
}


#tab-pane-lu .tab-content-area  {
	-fx-background-color: #F6F6F5;
}

#tab-pane-lu .tab-header-area .tab{
    -fx-background-radius: 5 5 5 5;
}


#tab-pane-main .tab-content-area  {
	-fx-background-color: #F6F6F5;
	-fx-border-color:#3c3c3c;
	-fx-border-width:2px;
	-fx-border-radius:5px;
}

#tab-pane-main .tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #E95420;
}

.menu-bar .label{
	-fx-font-size:10pt;
	-fx-text-fill: #111111;
}



.menu-bar .label:hover {
	-fx-text-fill:black;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.menu-item:hover, .menu-item:pressed, .menu-item:focused {
     -fx-background-color: #F08763;
}

.menu:hover, .menu:focused, .menu:pressed, .menu:showing {
    -fx-background-color: #F08763;
}



.titled-pane-data{
	-fx-border-color:#3c3c3c;
	-fx-border-width:0px;
	-fx-border-radius:0px;
	-fx-font-weight: bold;
}

.titled-pane-data > .title {
	-fx-background-color: #3c3c3c;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0 0 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.5em 1em 0.5em 0.8em;
}

.table-view .column-header {
	-fx-font-size:10pt;
}

/*
.table-view .column-header-background{
     -fx-background-color: #666666;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .filler{
	-fx-background-color: #666666;
}
 */

.table-view {
	-fx-font-size:9pt;
	-fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #F08763;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected .text {
       -fx-fill: #111111 ;
}

.table-cell{
	-fx-alignment: CENTER;
}

/* # --> ID */
#confirmButton{
	-fx-background-color:#3c3c3c;
	-fx-text-fill:#E95420;
}


#bfTabLabel{
	-fx-text-fill:#F5F5F5;
}

/* . --> class 
.deleteColumnButton{
	-fx-shape:"M12 3c-4.963 0-9 4.038-9 9s4.037 9 9 9 9-4.038 9-9-4.037-9-9-9zm0 16c-3.859 0-7-3.14-7-7s3.141-7 7-7 7 3.14 7 7-3.141 7-7 7zM12.707 12l2.646-2.646c.194-.194.194-.512 0-.707-.195-.194-.513-.194-.707 0l-2.646 2.646-2.646-2.647c-.195-.194-.513-.194-.707 0-.195.195-.195.513 0 .707l2.646 2.647-2.646 2.646c-.195.195-.195.513 0 .707.097.098.225.147.353.147s.256-.049.354-.146l2.646-2.647 2.646 2.646c.098.098.226.147.354.147s.256-.049.354-.146c.194-.194.194-.512 0-.707l-2.647-2.647z";
	-size: 14;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
	-fx-background-color: black;
}

.deleteColumnButton:hover{
	-fx-background-color:#E95420;
}
*/

.dialog-pane .button:focused{     
	-fx-background-color:#E95420
 }
 
 #dataLabel{
 	-fx-text-fill:white;	
 }
 
 #rowsLabel{
 	-fx-text-fill:#F6F6F5;
 	-fx-font-size:10pt;
 }
 
.openFileMenuItem > .label{
 	-fx-graphic: url("/gui/image/folder_black.png");
}

.openFileMenuItem .accelerator-text{
    -fx-graphic: none;
}

.saveFileMenuItem > .label{
 	-fx-graphic: url("/gui/image/export.png");
}

.saveFileMenuItem .accelerator-text{
    -fx-graphic: none;
}

.aboutMenuItem > .label{
 	-fx-graphic: url("/gui/image/info-large.png");
} 
 
.deleteColumnMenuItem > .label{
 	-fx-graphic: url("/gui/image/trash.png");
}
 
.splitColumnMenuItem > .label{
 	-fx-graphic: url("/gui/image/flow-children.png");
}

.renameColumnMenuItem > .label{
 	-fx-graphic: url("/gui/image/pencil.png");
}
 
.mergeColumnMenuItem > .label{
 	-fx-graphic: url("/gui/image/flow-merge.png");
}

.attributeTypeMenu > .label{
 	-fx-graphic: url("/gui/image/tag.png");
 	-fx-font-weight: bold;
}

.idMenuItem > .label{
	-fx-graphic: url("/gui/image/key.png");
}

.stringMenuItem > .label{
	-fx-graphic: url("/gui/image/sort-alphabetically.png");
}

.numericMenuItem > .label{
	-fx-graphic: url("/gui/image/sort-numerically.png");
}

.dateMenuItem > .label{
	-fx-graphic: url("/gui/image/calender.png");
}

.countMenuItem > .label{
	-fx-graphic: url("/gui/image/calculator.png");
}

#plusButton  {
	-fx-background-image: url("/gui/image/plus.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 24px;
	-fx-background-position: 90%;
}

#minusButton  {
	-fx-background-image: url("/gui/image/minus.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 24px;
	-fx-background-position: 90%;
}
